.outputBar {
  fill: darkorange;
}

.dniBar {
  fill: darkgreen;
}

.outputBar:hover {
  fill: orange;
}

.dniBar:hover {
  fill: green;
}

.axis--x path {
  display: none;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}
